.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-bg);
}
.home-container1 {
  flex: 0 0 auto;
  width: 33%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
}
.home-text1 {
  margin-left: var(--dl-space-space-unit);
}
.home-text6 {
  margin-top: 1em;
  margin-left: var(--dl-space-space-halfunit);
}
.home-list {
  align-self: center;
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.social-link {
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-container1 {
    width: 40%;
  }
  .home-container2 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-container1 {
    width: 50%;
  }
  .home-container2 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-container1 {
    width: 90%;
  }
  .home-container2 {
    width: 100%;
  }
}
