---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import NavBar from "../../components/NavBar.astro";
import Posts from "../../components/Posts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-black my-8 mx-4 text-white flex justify-center">
    <main>
      <header
        class="flex max-w-prose mx-auto justify-between border-b border-b-white mb-5"
      >
        <a href="/" class="font-mono tracking-tight text-nowrap self-end"
          >Robert Chandler</a
        >
        <NavBar minimal={true} />
      </header>
      <h1 class="text-xl font-mono tracking-tight mb-4">Blog</h1>
      <p class="mb-6 text-sm text-neutral-300">
        Sometimes I write. Technical, philosophical, or just for fun.
      </p>
      <Posts />
    </main>
  </body>
</html>
