---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="mt-8 mx-4 flex justify-center" style="background-color: var(--color-bg); color: var(--color-text);">
    <main>
      <Header />
      <NavBar />
    </main>
  </body>
</html>
