---
const today = new Date();
const year = today.getFullYear();
---

<footer class="container mt-4 mb-2">
  <hr />
  <div class="m-4">
    &copy; {year} Robert Chandler. All rights reserved.
  </div>
</footer>
