<header class="relative">
  <div class="w-full grid grid-cols-2 align-middle items-center">
    <h1 class="text-4xl font-bold text-right pr-4">
      <a href="/">Robert<br />Chandler</a>
    </h1>
    <div class="ml-4 sm:ml-0">
      <span class="block pl-4 my-4 text-left border-l border-l-white">
        jesus follower.<br />software engineer.<br />musician.
      </span>
    </div>
  </div>
</header>
