<header class="relative max-w-prose mx-auto">
  <div class="w-full grid grid-cols-2 align-middle items-center">
    <h1
      class="font-mono tracking-tight text-3xl sm:text-4xl text-nowrap text-right pr-4"
    >
      <a href="/">Robert<br />Chandler</a>
    </h1>
    <div>
      <span
        class="block tracking-tight pl-4 my-4 font-mono text-nowrap text-left border-l" style="border-left-color: var(--color-border);"
      >
        jesus follower.<br />software engineer.<br />musician.
      </span>
    </div>
  </div>
</header>
