<nav class="mb-4 flex flex-row sm:items-center justify-center gap-4 text-xl">
  <a href="/about" class="hover:text-gray-300">[about]</a>
  <a href="/#projects" class="hover:text-gray-300">[projects]</a>
  <a href="/blog" class="hover:text-gray-300">[blog]</a>
</nav>
