---
const projects = [
  {
    name: "Concerto Studio",
    url: "https://concerto.studio/",
    source: null,
    description: "A web app for collaborative review of audio",
  },
  {
    name: "Trading Fours",
    url: "https://tradingfours.app/",
    source: "https://github.com/r-cha/trading_fours",
    description: "Chat, but the language is MIDI",
  },
  {
    name: "encourage.nvim",
    url: "https://github.com/r-cha/encourage.nvim",
    source: "https://github.com/r-cha/encourage.nvim",
    description: "A neovim plugin to cure your impostor syndrome",
  },
  {
    name: "Tritip",
    url: "https://github.com/r-cha/tritip",
    source: null,
    description: "A CLI for typing practice",
  },
  {
    name: "dotfiles",
    url: "https://github.com/r-cha/dotfiles",
    source: null,
    description: "Literally just my dotfiles: how I set up my tools",
  },
  {
    name: "Rhema Journal",
    url: "https://rhemajournal.com/",
    source: "https://github.com/r-cha/Rhema-Journal",
    description: "An iOS app for journaling God's word",
  },
  {
    name: "rochadrums",
    url: "https://www.rochadrums.com/",
    source: "https://github.com/r-cha/rochadrums",
    description: "A portfolio website for my drumming",
  },
];
---

<section class="w-auto border-white border-l pl-4">
  <ul class="max-w-[400px]">
    {
      projects.map((project) => (
        <li class="pb-2">
          <div class="flex flex-row">
            <a
              href={project.url}
              target="_blank"
              class="font-mono tracking-tight text-nowrap text-decoration hover:underline hover:text-neutral-200"
            >
              {project.name}
            </a>
            {project.source && (
              <>
                <span class=" w-0 sm:w-auto float-left grow whitespace-nowrap" />
                <a
                  href={project.source}
                  target="_blank"
                  class="font-mono tracking-tight font-light text-nowrap text-right text-decoration hover:underline hover:text-neutral-200"
                >
                  [source]
                </a>
              </>
            )}
          </div>
          <p class="ml-2 text-left text-xs font-light text-neutral-300">
            {project.description}
          </p>
        </li>
      ))
    }
  </ul>
</section>
